<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="../dev/tests/unit/framework/bootstrap.php"
>
    <php>
        <ini name="xdebug.max_nesting_level" value="200"/>
        <ini name="error_reporting" value="-1" />
    </php>
    <testsuite name="Magento Unit Tests">
        <directory suffix="Test.php">../app/code/B2S/*/Test/Unit</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../app/code/B2S/*</directory>
            <exclude>
                <directory>../app/code/B2S/*/Test</directory>
                <directory suffix="registration.php">../app/code/B2S/*</directory>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Magento\Framework\TestFramework\Unit\Listener\ReplaceObjectManager"/>
    </listeners>
    <logging>
        <log type="coverage-html" target="../reports/phpunit/coverage-html" lowUpperBound="50" highLowerBound="80"/>
        <log type="coverage-xml" target="../reports/phpunit/coverage-xml"/>
        <log type="coverage-php" target="../reports/phpunit/coverage.cov"/>
        <log type="coverage-clover" target="../reports/phpunit/phpunit.coverage.xml"/>
        <log type="junit" target="../reports/phpunit/phpunit.junit.xml"/>
        <!--coverage_html_placeholder
            <log type="coverage-html" target="{{coverage_dir}}/test-reports/coverage" charset="UTF-8" yui="true" highlight="true"/>
        coverage_html_placeholder-->
        <!--coverage_cov_placeholder
            <log type="coverage-php" target="{{coverage_dir}}/test-reports/coverage.cov"/>
        coverage_cov_placeholder-->
        <!--coverage_clover_placeholder
            <log type="coverage-clover" target="{{coverage_dir}}/test-reports/phpunit.coverage.xml"/>
        coverage_clover_placeholder-->
        <!--coverage_crap4j_placeholder
            <log type="coverage-crap4j" target="{{coverage_dir}}/test-reports/phpunit.crap4j.xml"/>
        coverage_crap4j_placeholder-->
    </logging>
</phpunit>
